TempCalulatorWCF146M/IntegralConsoleClient/Service References/ServiceReference1/WcfMathLibrary.Integrals.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Integrals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Integrals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="IntegralInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:double" />
      <xs:element minOccurs="0" name="B" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Integrand" nillable="true" type="q1:FuncOfdoubledouble" />
      <xs:element minOccurs="0" name="N" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegralInput" nillable="true" type="tns:IntegralInput" />
  <xs:complexType name="IntegralOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegralOutput" nillable="true" type="tns:IntegralOutput" />
</xs:schema>