TempCalulatorWCF146M/WPF_Kulakov/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatrixTemperatureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Array3DLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CalculateTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTempResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTemp3D_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp3D" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTemp3D_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp3DResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTemp1D_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp1D" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateTemp1D_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp1DResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MatrixSum_InputMessage">
    <wsdl:part name="parameters" element="tns:MatrixSum" />
  </wsdl:message>
  <wsdl:message name="IService_MatrixSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatrixSumResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MatrixMul_InputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMul" />
  </wsdl:message>
  <wsdl:message name="IService_MatrixMul_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMulResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CalculateTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateTemp" message="tns:IService_CalculateTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateTempResponse" message="tns:IService_CalculateTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp3D">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateTemp3D" message="tns:IService_CalculateTemp3D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateTemp3DResponse" message="tns:IService_CalculateTemp3D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp1D">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateTemp1D" message="tns:IService_CalculateTemp1D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateTemp1DResponse" message="tns:IService_CalculateTemp1D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatrixSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MatrixSum" message="tns:IService_MatrixSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MatrixSumResponse" message="tns:IService_MatrixSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatrixMul">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MatrixMul" message="tns:IService_MatrixMul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MatrixMulResponse" message="tns:IService_MatrixMul_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateTemp">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp3D">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateTemp3D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp1D">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateTemp1D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatrixSum">
      <soap:operation soapAction="http://tempuri.org/IService/MatrixSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatrixMul">
      <soap:operation soapAction="http://tempuri.org/IService/MatrixMul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatrixTemperatureService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfMathLibrary/MatrixTemperatureService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>