TempCalulatorWCF146M/WPF_Kulakov/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" />
  <xs:element name="CalculateTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="input" nillable="true" type="q1:InputForTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="CalculateTempResult" nillable="true" type="q2:OutputForTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTemp3D">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="input3D" nillable="true" type="q3:InputForTemp3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTemp3DResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="CalculateTemp3DResult" nillable="true" type="q4:OutputForTemp3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTemp1D">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="input1D" nillable="true" type="q5:InputForTemp1D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTemp1DResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Temperature" minOccurs="0" name="CalculateTemp1DResult" nillable="true" type="q6:OutputForTemp1D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatrixSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" minOccurs="0" name="Input" nillable="true" type="q7:MatrixInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatrixSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" minOccurs="0" name="MatrixSumResult" nillable="true" type="q8:MatrixOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatrixMul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" minOccurs="0" name="Input" nillable="true" type="q9:MatrixInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatrixMulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" minOccurs="0" name="MatrixMulResult" nillable="true" type="q10:MatrixOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>