TempCalulatorWCF146M/ConsoleClient1DAskieva/Service References/ServiceReference1/Array3DLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Array3DLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Array3DLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Array3DOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Array3DOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Array3DLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Items" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element name="MaxItemNumber" type="xs:int" />
      <xs:element name="xLength" type="xs:int" />
      <xs:element name="yLength" type="xs:int" />
      <xs:element name="zLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Array3DOfdouble" nillable="true" type="tns:Array3DOfdouble" />
</xs:schema>