TempCalulatorWCF146M/ConsoleClient1DAskieva/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Array3DLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Matrix" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CalculateTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculateTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTempResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculateTemp3D_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp3D" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculateTemp3D_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp3DResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculateTemp1D_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp1D" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculateTemp1D_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTemp1DResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MatrixSum_InputMessage">
    <wsdl:part name="parameters" element="tns:MatrixSum" />
  </wsdl:message>
  <wsdl:message name="IService1_MatrixSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatrixSumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MatrixMul_InputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMul" />
  </wsdl:message>
  <wsdl:message name="IService1_MatrixMul_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatrixMulResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParTrapeze_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParTrapeze" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParTrapeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParTrapezeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParRectangleMedium_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParRectangleMedium" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParRectangleMedium_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParRectangleMediumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParSimpson_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParSimpson" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralParSimpson_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralParSimpsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqTrapeze_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqTrapeze" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqTrapeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqTrapezeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqRectangleMedium_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqRectangleMedium" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqRectangleMedium_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqRectangleMediumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqSimpson_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqSimpson" />
  </wsdl:message>
  <wsdl:message name="IService1_IntegralSeqSimpson_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegralSeqSimpsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CalculateTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalculateTemp" message="tns:IService1_CalculateTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculateTempResponse" message="tns:IService1_CalculateTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp3D">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalculateTemp3D" message="tns:IService1_CalculateTemp3D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculateTemp3DResponse" message="tns:IService1_CalculateTemp3D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp1D">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalculateTemp1D" message="tns:IService1_CalculateTemp1D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculateTemp1DResponse" message="tns:IService1_CalculateTemp1D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatrixSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MatrixSum" message="tns:IService1_MatrixSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MatrixSumResponse" message="tns:IService1_MatrixSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatrixMul">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MatrixMul" message="tns:IService1_MatrixMul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MatrixMulResponse" message="tns:IService1_MatrixMul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralParTrapeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralParTrapeze" message="tns:IService1_IntegralParTrapeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralParTrapezeResponse" message="tns:IService1_IntegralParTrapeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralParRectangleMedium">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralParRectangleMedium" message="tns:IService1_IntegralParRectangleMedium_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralParRectangleMediumResponse" message="tns:IService1_IntegralParRectangleMedium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralParSimpson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralParSimpson" message="tns:IService1_IntegralParSimpson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralParSimpsonResponse" message="tns:IService1_IntegralParSimpson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqTrapeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralSeqTrapeze" message="tns:IService1_IntegralSeqTrapeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralSeqTrapezeResponse" message="tns:IService1_IntegralSeqTrapeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqRectangleMedium">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralSeqRectangleMedium" message="tns:IService1_IntegralSeqRectangleMedium_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralSeqRectangleMediumResponse" message="tns:IService1_IntegralSeqRectangleMedium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqSimpson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IntegralSeqSimpson" message="tns:IService1_IntegralSeqSimpson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IntegralSeqSimpsonResponse" message="tns:IService1_IntegralSeqSimpson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateTemp">
      <soap:operation soapAction="http://tempuri.org/IService1/CalculateTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp3D">
      <soap:operation soapAction="http://tempuri.org/IService1/CalculateTemp3D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTemp1D">
      <soap:operation soapAction="http://tempuri.org/IService1/CalculateTemp1D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatrixSum">
      <soap:operation soapAction="http://tempuri.org/IService1/MatrixSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatrixMul">
      <soap:operation soapAction="http://tempuri.org/IService1/MatrixMul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralParTrapeze">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralParTrapeze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralParRectangleMedium">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralParRectangleMedium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralParSimpson">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralParSimpson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqTrapeze">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralSeqTrapeze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqRectangleMedium">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralSeqRectangleMedium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegralSeqSimpson">
      <soap:operation soapAction="http://tempuri.org/IService1/IntegralSeqSimpson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfMathLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>