TempCalulatorWCF146M/WPFClient3D/Service References/ServiceReference1/WcfMathLibrary.Matrix.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMathLibrary.Matrix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MatrixInput">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix1" nillable="true" type="q1:ArrayOfArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix2" nillable="true" type="q2:ArrayOfArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixInput" nillable="true" type="tns:MatrixInput" />
  <xs:complexType name="MatrixOutput">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrixResult" nillable="true" type="q3:ArrayOfArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixOutput" nillable="true" type="tns:MatrixOutput" />
</xs:schema>